<header>
  <nav class="fixed-top">
    <div id="navbar">
      <nav>
        <ul>
          <li class="facebook">
            <a href="https://www.facebook.com/#" target="_blank"
              ><i class="fab fa-facebook"></i
            ></a>
          </li>
          <li class="instagram">
            <a href="https://www.instagram.com/#" target="_blank"
              ><img src="../../../assets/instagram (1).png" alt="instagram"
            /></a>
          </li>
          <li class="whatsapp">
            <a href="https://wa.me/#" target="_blank"
              ><img src="../../../assets/whatsapp.png" alt="whatsapp"
            /></a>
          </li>
          <li class="tel">
            &nbsp;
            <b class="b">|</b>
            <a href="tel:#"
              >Call To Shop <img src="../../../assets/phone-call.png"
            /></a>
          </li>
          <li>
            <div class="container-title">
              <div class="title">
                <h1>electronics Shop</h1>
              </div>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </nav>
</header>
